#body{
    width: 100%;
    height: 100%;
}

#body2 {
    width: 100%;/*1150*/
    height: 700px;/*780*/
    margin-top: 125px;
    justify-content: center;
    position: relative;
    float: left;
 }

#formulario {
    height: 50%;
    width: 60%;
    padding: 5px;
    float: left;
    margin-top: 100px;
}

/* #maps {
     margin-top: 1%; 
    width: 100%;
    height: 75%;
    float: right;
    margin-left: 125px; 
    position: relative;
} */

/* by chatgpt */
#maps {
    margin-top: 1%;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }

#maps img{
    margin-right: 10px;
}

#mapa{
    /* margin-top: 30px; */
    height: 60%;
    width: 100%;
}

.Icon {
    /*imagens */
    padding: 3px;

}


/* Estilos para o formulário */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para as mensagens de erro */
/* input:invalid,
textarea:invalid {
    border-color: #d50000;
} */

input:valid,
textarea:valid {
    border-color: #cccccc;
}

input:invalid+span,
textarea:invalid+span {
    color: #fb9611;
    font-size: 12px;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input:valid+span,
textarea:valid+span {
    display: none;
}

textarea[type="text"] {
    border-color: #d50000;
}
#iframemaps{
    width: 80%;
    height: 500px;
}