/* index */
.conteudo{
    width: 800px;
    margin-left: auto;   
    margin-right: auto;
}
.conteudo h1{
    margin-top: 50px;    /* Editando h1 no Index */
    border-bottom: 2px solid black;
}

.conteudo h2{
    margin-top: -20px;
    text-align: right;  /* Editando h2 no Index */
    font-size: 15px;
}

.eu{
    width: 150px;
    float: left;            /* Editando a foto no Index */   
    padding-right: 20px;
}

.euzin{
    width: 830px;
    text-align: justify;   /* Editando a parágrafo no Index */
    margin-left: 275px;
    margin-bottom: 100px;
}

.paralax-eu{
    width:102%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px; 
    background-image: url(../img/soueu.jpg); 
    margin-left: -9px; 
    border-radius: 0 0 4% 4%;
    margin-top: -8px;
}


/* Formações */

.paralax-formacao{
    width:102%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px; 
    background-image: url(../img/formacao.jpg); 
    margin-left: -9px; 
    border-radius: 0 0 4% 4%;
    margin-top: -8px;
}

/* Experiências */

.paralax-expe{
    width:102%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px; 
    background-image: url(../img/conhecimento.jpg); 
    margin-left: -9px; 
    border-radius: 0 0 4% 4%;
    margin-top: -8px;
}


/* Projetos */
.paralax-projeto{
    width:102%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px; 
    background-image: url(../img/pro.png); 
    margin-left: -9px; 
    border-radius: 0 0 4% 4%;
    margin-top: -8px;
}

figure{
    float: left;
    width: 1185px;
    margin-left: 100px;
}

figure img{
    width: 550px;
    border-radius: 10px;
    border:rgb(1, 36, 59) solid 1px;
    margin: 20px;
    float: left;
}


/* Contato */

.paralax-contato{
    width:102%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px; 
    background-image: url(../img/contato.jpg); 
    margin-left: -9px; 
    border-radius: 0 0 4% 4%;
    margin-top: -8px;
}

form{
    margin-top: 50px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
label,  input {
    display: block;
    float: left;
}

input{
    padding-left: 5px;
    width: 350px;
}

.form {
    color:black;
    font-size: 19px;
}

label {	
    text-align: left;
    width: 200px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 19px;

}

fieldset {
    border: solid 1px gray;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    border-color: rgb(0,49,82);
    padding-top: 5px;
    padding-bottom: 10px;
}

br {
    clear: left;
}

.salv {
    max-width: 100px;
    background: #008009;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 2px;
    margin-top: 8px;
    margin-right: 20px;
}

.salv:hover{
    background-color:#42ed4e;
    transition: all 0.5s;
}

.canc {
    max-width: 100px;
    background: #a80000;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 8px;
}

.canc:hover{
    background-color:#ff3030;
    transition: all 0.5s;
}



/* Aplicavel para todas as páginas */

*{
    font-family: 'Inconsolata', monospace;
}

body{
    overflow-x: hidden;
}

div h3{
    position: absolute;
    text-align: center;
    top:20%;
    width: 34%;
    left: 30%;
    background-color: rgba(17, 17, 17, 0.397);
    color: #fff;
    padding: .7em;
    font-size: 2em;
    opacity: .8;
    z-index: 2;
    border-radius: 8px;
}

.tabela{
    margin-top: 40px;
    margin-bottom: 25px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

table, th, td{
    width: 700px;
    height: 25px;
    border:rgb(109, 141, 170) solid 1px;
    border-collapse: collapse;
    text-align: center;
}

th{
    height: 30px;
    background-color: #036;
    color: #fff;
    text-transform: uppercase;
}


footer{
    width: 105%;
    height: 150px;
    color: white;
    background-color: rgb(0, 68, 114);
    background-position: bottom;
    float: left;
    margin-left: -8px;
}

footer p{
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgb(1, 36, 59);
    margin-bottom: 0;
}

.icone{
    width: 25px;
    margin: 15px;
    right: 0;
}

.btn_social { 
	width: 300px;
	float:right; 
	display:flex; 
    margin: 20px 85px 0 0;

}

.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}

.btn_social ul li  {
	position:relative; 
	background:rgb(0,49,82); 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}

.btn_social ul li a  { 
	width:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;

}

.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#E3AC1B; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}

.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:rgb(0,49,82); }

.teste{
    background:rgb(0, 153, 255); 
    max-width: 100px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 130px;
    margin-top: 35px;
}

.teste:hover{
    background-color:rgb(1, 104, 173);
    transition: all 0.5s;
}


