body{
    background-color: white;
    font-family: 'Inconsolata', monospace;
}



.header{
    width: 100%;
    display: block;
    position: fixed;
    background-position: center;
    background-attachment:fixed; 
}

.sidebar{
    position: fixed;
    width: 320px;
    left: -320px;
    height: 100%;
    background: rgb(0,49,82);
    transition: all .5s ease;
    margin-top: 0;
}

.sidebar .head{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: rgb(0, 97, 161);
    user-select: none;   
}

.sidebar a{
    text-decoration: none;
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    transition: all .5s ease;
}

a.active{
    font-weight: bold;
    border-left: 5px solid #E3AC1B;
    color: #c49318;
}

a:hover{
    border-left: 5px solid #E3AC1B;
    color: #c49318;
}

.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check{
    display: none;
}

label #btn, label #cancelar{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(0,49,82);
    margin: 44px 30px;
    font-size: 28px;
    background: rgb(0,49,82);
    height: 45px;
    width: 45px;     
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    position: fixed;
}

label #cancelar{
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    margin-left: 325px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancelar{
    margin-left: 325px;
    opacity: 1;
    visibility: visible;
}

@media(max-width: 860px){
    .header{
        width: 100%;
        height: 18%;
    }
    
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    
    .head , #btn , #cancelar{
        display: none;
    }
    
    span{
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    
    .sidebar a{
        height: 60px;
    }
    
    .sidebar a i{
        margin-left: -10px;
    }
    
    a:hover{
        width: 200px;
        background: inherit;
    }
    
    .sidebar a:hover span{
        opacity: 1;
        visibility: visible;
    }
    
    .prevLi{
        margin-top: -10px;
    }
    
    .quadrado{
        width: 100%;
        margin-top: 0;
    }
    
    p{
        padding-left: 20px;
        padding-right: 20px;

    }
    
    .sino{
        text-align: justify;
    }
    
    hr{
        width: 300px;
    }
}




