@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

body{
    margin: auto;
}


h1{
    color: rgb(0, 68, 114);
    font-size: 2.5em;
    padding-bottom: 7px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

h2{
    font-size: 1.75em;
    background-color: rgb(0, 68, 114);
    color: #fff;
    padding: 7px;
    width: 400px;
    position: relative;
    margin-top: -8px;
    /* margin-left: 240px; */
    margin-left: 14.9%;
}

h3{
    /* width: 800px; */
    width: 60%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

hr{
    border: solid thin rgb(0, 68, 114);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



#corpo{
    width: auto;
    background-color: #fff;

}
#leitura_alta{
    margin-top: 30%;
    margin-left: 10px;
    position: fixed;
    z-index: 9999;
    opacity: 70%;
  }

