body {
    -moz-osx-font-smoothing:grayscale;
    -ms-flex-direction:column;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -webkit-font-smoothing:antialiased;
    color:#000000;display:flex;
    flex-direction:column;margin:0;
    min-height:100vh;
    font-size: small;
    background-color: rgb(0, 68, 114);
}

footer{
    margin-top: 0.5%;
}
 
h1{
    color: #006dd3bd;
    font-size: 2.5em;
    border-bottom: #006dd3bd solid thin;
    padding-bottom: 7px;text-align: center;
}

h2{
    font-size: 1.75em;
    background-color: #006dd3bd;
    color: #fff;letter-spacing: 0.1em;
    padding: 7px;width: 300px;position: relative;
    margin-top: -7px;
}

p{
    font-size: 1.3em;
    line-height: 1.3;
    text-align: center;
    font-weight: bolder;
}

h2+p:first-line{
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

hr{
    border-color: #006dd3bd;
    border: solid thin #006dd3bd;
}

figure a img{
    width: 37px;
    height: 36px;
}

#logo{
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
}

#borda{
    box-sizing: border-box;
    background-color: #fef;
    height: 20px;padding-top: 10px;
    width:auto;margin-top: -8px;
    border-bottom: #997 solid 1px;
    text-align: end;
    padding-right: 12px;
    margin-bottom: -1px;
}

#main{
    width:auto;
    background-color:#fff;
    opacity: 1;
    height: auto;
    position: relative;
}

#quemsomos{
    width:auto;
    background-color:#fff;
    opacity: 1;
    height: auto;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

#acompanhe{
    width: 15%;
    margin-left: 42.5%;
    text-align: left;
}

#acompanhe a[href="https://www.facebook.com/jeia.rp/"]:hover,
#acompanhe a[href="https://www.instagram.com/jeia.rp/"]:hover,
#acompanhe a[href="https://www.facebook.com/jeia.rp/"]:focus,
#acompanhe a[href="https://www.instagram.com/jeia.rp/"]:focus{
    background: rgb(0, 0, 0);
	transition: all .3s ease-in-out;
}

.navbar {
    width: 100%;
    background: #006dd3bd;
    color:#000;
    position:sticky;
    opacity:0.95;
    height: 70px;
}

.logo{
    width: 80px;
}

._{
    width:auto; 
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    opacity: 1;
    height:30px;
    margin-bottom:-33px;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
.skip:focus {
    position: static;
    width: auto;
    height: auto;
  }