* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
  width: 100%;
}

img {
  vertical-align: middle;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(74, 74, 74, 0.264);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 30px;
  margin: 0 10px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 2px;
  transition: background-color 0.6s ease;
}

.bolinha{
  position: absolute;
  z-index: 1;
  margin-left: 41%;
  margin-top: 54%;
}

.active, .dot:hover {
  background-color: #7c0303;
}

.active{
  background-color: #6d6d6d;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.btn1{
  background:rgb(255, 200, 0);
}
.btn2{
  background-color: rgb(147, 1, 1);
}

.btn3{
  background-color: rgb(0, 111, 145);
}

.btn4{
  background-color: rgb(255, 128, 0);
}

.btn5{
  background-color: rgb(1, 106, 6);
}

.btn{ 
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  width: 350px;
  height: 70px;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  z-index: 1;
  position: absolute;
  margin-left: -62%;
  margin-top: 40%;
  font-weight: bold;
  letter-spacing: 1px;
  font-family:Montserrat, sans-serif;
}


.btn:hover{
  background-color:rgb(188, 164, 4); 
  transition: all 0.5s;
}

.slide{
	position: absolute;
	z-index: -1;
}

.image{
  width: 100%;
  
}

@media(max-width: 1360px){
	.bolinha{
    margin-left: 41%;
    margin-top: 54%;
  }
}