header{
  margin-bottom: 20%;
   
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: auto;
    padding: 0;
    background: url(../img/backgroundquemsomos.jpg);
    width: auto;
    height: auto;
  }

  #ab{
    margin-top: 14%;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
  }
  
  .team-member {
    flex-basis: 300px;
    padding: 20px;
    text-align: center;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 250px;
  }
  
  .team-member h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .team-member p {
    font-size: 16px;
    color: #777;
  }

  
  